<h2>{{ .Get "name" }}</h2>
{{ if .Get "image" }}<img src="{{ .Get "image" }}" />{{ end }}
{{ if .Get "trailer" }}
    <a href="https://youtube.com/watch?v={{ .Get "trailer" }}">
        <img src="http://img.youtube.com/vi/{{ .Get "trailer" }}/hqdefault.jpg" />
        ▶️ Watch
    </a>
{{ end }}
<p>
    {{ .Get "desc" | safeHTML }}
</p>
{{ if .Get "play" }}<h3><a href="{{ .Get "play" }}">Play</a></h3>{{ end }}
